<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IJustWatched</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/floating-labels/">
    

</head>
<body>
    <header>
         <!-- Navigation -->
          @* <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"> *@
          @*   <a class="navbar-brand" href="#">Fixed navbar</a> *@
          @*   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> *@
          @*     <span class="navbar-toggler-icon"></span> *@
          @*   </button> *@
          @*   <div class="collapse navbar-collapse" id="navbarCollapse"> *@
          @*     <ul class="navbar-nav mr-auto"> *@
          @*       <li class="nav-item active"> *@
          @*         <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> *@
          @*       </li> *@
          @*       <li class="nav-item"> *@
          @*         <a class="nav-link" href="#">Link</a> *@
          @*       </li> *@
          @*       <li class="nav-item"> *@
          @*         <a class="nav-link disabled" href="#">Disabled</a> *@
          @*       </li> *@
          @*     </ul> *@
          @*     <form class="form-inline mt-2 mt-md-0"> *@
          @*       <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> *@
          @*       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> *@
          @*     </form> *@
          @*   </div> *@
          @* </nav> *@
          @*     *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - IJustWatched - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
