@model object

<div class="post-preview">
    <a asp-controller="Review" asp-action="Index">
        <h2 class="post-title" style="color: black">
            Wow, breathtaking acting! Or how I decided to go to movie twice
        </h2>
    </a>
    <p class="post-meta">Posted by
        <a href="#">muser</a>
        on August 24, 2019
    </p>
</div>
<hr>