@model IJustWatched.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Sign In";
    Layout = "_Layout";
}

<style type="text/css">
  BODY {text-align: center}
</style>

<body>
<div class="form-group col-md-6 mb-0 container">
    <form class="form-group m-5 md-3 p-5" method="post" asp-controller="Account" asp-action="Register">
        <div class="ml-2 mr-2 mt-4 text-center"></div>
        <h2 class="h3 font-weight-normal">Sign up</h2>
        <div asp-validation-summary="ModelOnly" style="color:red"></div>
        <div class="mt-3 form-label-group">
            <label asp-for="Email" for="inputEmail" class="sr-only"></label>
            <input asp-for="Email" type="email" id="inputEmail" class="form-control"
                   placeholder="Email address">
            <span asp-validation-for="Email" style="color:red"></span>
        </div>
        <div class="mt-3 form-label-group">
            <label asp-for="BirthdayDate" class="sr-only"></label>
            <input asp-for="BirthdayDate" type="date" class="form-control"
                   placeholder="Birthday"/>
            <span asp-validation-for="BirthdayDate" style="color: red"></span>
        </div>
        <div class="mt-4 form-label-group">
            <label asp-for="Password" for="inputPassword" class="sr-only"></label>
            <input asp-for="Password" type="password" id="inputPassword" class="form-control"
                   placeholder="Password">
            <span asp-validation-for="Password" style="color:red"></span>
        </div>
        <div class="mt-4 form-label-group">
            <label asp-for="PasswordConfirm" for="inputPassword" class="sr-only"></label>
            <input asp-for="PasswordConfirm" type="password" class="form-control"
                   placeholder="Repeat password">
            <span asp-validation-for="PasswordConfirm" style="color:red"></span>
        </div>
        <button class="mt-3 btn btn-lg btn-primary btn-block" type="submit" width="300px">Sign in</button>
        <div class="mt-4">
            <a asp-controller="Account" asp-action="Login">Back to login</a>
        </div>
    </form>
</div>
</body>

