@model IJustWatched.ViewModels.ReviewViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form method="post" asp-controller="Review" asp-action="New">
    <div class="col-lg-auto">
        <div asp-validation-summary="ModelOnly" style="color: red"></div>
        <h4>Submit post</h4>
        <!-- Title -->
        <label asp-for="Title"></label>
        <textarea  asp-for="Title" type="text" class="form-control mb-3" rows="2" 
            placeholder="Title" style="resize: none"></textarea>
        <span asp-validation-for="Title" style="color:red"></span>
        <hr>
        <!-- Tags-->
        <label asp-for="Tags"></label>
        <input asp-for="Tags" type="text" class="form-control input-sm" placeholder="Tags">
        <hr>
        @if (ViewData["filmTitle"] != null)
        {
            <textarea readonly asp-for="FilmTitle" rows="1" style="resize: none;">
                @ViewData["filmTitle"]
            </textarea>
        }
        else
        {
            <!-- Film -->
            <label asp-for="FilmTitle"></label>
            <input asp-for="FilmTitle" type="text" class="form-control mb-3" placeholder="Film">
            <span asp-validation-for="FilmTitle" style="color:red"></span>
        }
        <hr>
        <!-- Review Text -->
        <label asp-for="ReviewText"></label>
        <textarea asp-for="ReviewText" class="form-control mb-3" rows="10" placeholder="Your review here"></textarea>
        <span asp-validation-for="ReviewText" style="color:red"></span>
        <hr>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>

