@model IJustWatched.Models.Review

@{
    ViewBag.Title = "Review";
    Layout = "_Layout";
}

<h1>Review</h1>
 
<div>
    <hr />
    <h3>@Html.DisplayFor(model => model.ReviewFilm.Title)</h3>
    <h6>
        <b>
            at @Html.DisplayFor(model => model.CreationDateTime)
        </b>
    </h6>
    <p>
        <i>
            @Html.DisplayFor(model => model.Content)
        </i>
    </p>
    <p>
        @Html.DisplayFor(model => model.Comments.Count) comments
    </p>
</div>
