@model IJustWatched.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.CurrentUser.UserName</h2>

<h4>@Model.FollowersCount @Model.FollowingCount</h4>



