@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   @if(User.Identity.IsAuthenticated)
   {
       <p>Hello, @User.Identity.Name!</p>
    
       <form method="post" asp-controller="Account" asp-action="LogOff">
           <input type="submit" value="Log off" />
       </form>
   }
   else
   {
       <a asp-controller="Account" asp-action="Login">Login</a>
       <hr/>
       <a asp-controller="Account" asp-action="Register">Sign up</a>
   }
</div>
