@model IJustWatched.Models.Review

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="col-lg-8 col-md-10 mx-auto">
    @for (var i = 0; i < 6; i++)
    {
        <partial name="_ReviewListItem"/>
    }

    <!-- Pager -->
    <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts →</a>
    </div>
</div>
