@model IEnumerable<IJustWatched.Models.Film>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body>
<div class="album py-5 bg-light">
    <h2 style="text-align: center">Films</h2>    
    <div class="container">
        <div class="row">
            @foreach (var film in Model)
            {
                <partial name="_FilmCard" model="@film"/>
            }
        </div>
    </div>
</div>
</body>
